<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataPlotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <DataPlotter.Properties.Settings>
            <setting name="ToolPathes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MyOneWire|E:\Doc\Паша\Программирование\микроконтроллеры STM32\LogicSniffer\LogicSnifferSTM\DataConsoleHelper\bin\Release\DataConsoleHelper.exe</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Commands" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MyOneWire|/s</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LastProtocol" serializeAs="String">
                <value>MyOneWire</value>
            </setting>
            <setting name="LastColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>#FF5733</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LastFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>E:\anal2.txt</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>1210, 461</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value>E:\ex.txt</value>
            </setting>
            <setting name="LoadCmd" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="LastPort" serializeAs="String">
                <value>COM29</value>
            </setting>
            <setting name="LastPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </DataPlotter.Properties.Settings>
    </userSettings>
</configuration>
